.wrapper {
    display: flex;
    background-color:#333333;
    color:white;
    transition: margin 0.5s;
    margin: 0 0 0 -350px;
}

.wrapper.is-nav-open {
    margin-left: 0px;
}

.side-bar {
    position: relative;
    width: 350px;
    height: 100vh;
}

.side-bar-content {
    padding: 15px;
}

.toggler {
    position: absolute;
    left: 355px;
    top: 10px;
    color: black;
    opacity: 0.4;
    font-size: 2em;
    z-index: 1;
}

.toggler:hover {
    opacity: 0.8;
    color: greenyellow;
    cursor: pointer;
    outline: none;
    transition: .15s ease-in;
}

.side-bar .head {
    text-decoration: underline;
}

.head-list {
    font-size: 1.5em;
    line-height: 2em;
    list-style: none;
    cursor: pointer;
    padding-top: 20px;
}

.head-list li:hover {
    color: greenyellow;
    opacity: 1;
}

.head-list a:visited {
    color: tomato;
    opacity: 1;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
  }

  .custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }


/* @keyframes key{
    from {
        color: black;
    }
    to {
        color: greenyellow;
    }
} */



