.card {
    flex-grow: 1;
}

.card-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 180px;
    margin: 1.2em;
}

.image-cover img{
    justify-self: right;
    max-width: 100%;
    height: 250px;
}

.card-text {
    padding-top: 1rem;
}

.addButton {
    width: 10em;
    margin-left: -1em;
    border-radius: 5px;
    background-color: greenyellow;
}

.addButton:hover {
    opacity: 0.8;
    transition: ease-in 0.1s;
    outline: none;
}

.addButton:focus {
    outline: none;
}

.card-bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0 15px;    
}

.price-wrap {
    height: 75px;
    border: 2px solid greenyellow;
    border-radius: 50px;
    padding: 22px 15px 0 15px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.price-wrap h3 {
   
}

.price-wrap span {
    font-size: 12px;    
}