.list-group-wrapper {
    flex-grow: 1;
}

.item-list {
    margin: 0 auto;
}

.block-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5vw;
}

.list-group li {
    display: inline-block;
}

.block-list-item {
    width: 30%;
    margin-left: 10px;
}

.not-found {
    margin: 100px auto;
}

.view-mode-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.view-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    margin-right: 25px;
}

.view-mode i {
        color: black;
        font-size: 1.5em;
        z-index: 1;
}
    
.view-mode i:hover {
        opacity: 0.4;
        color:greenyellow;
        cursor: pointer;
        outline: none;
        transition: .1s ease-in;
}

.active-view-icon {
    opacity: 0.4;
    pointer-events: none;
}


